$colors: (
  primary-red: (
    400: hsl(0, 94%, 20%),
    300: hsl(0, 94%, 40%),
    200: hsl(0, 94%, 60%),
    100: hsl(0, 94%, 80%),
  ),
  primary-blue: (
    400: hsl(231, 96%, 20%),
    300: hsl(231, 96%, 40%),
    200: hsl(231, 96%, 60%),
    100: hsl(231, 96%, 80%),
  ),
  neutral-gray: (
    400: hsl(229, 8%, 20%),
    300: hsl(229, 8%, 40%),
    200: hsl(229, 8%, 60%),
    100: hsl(229, 8%, 80%),
  ),
  neutral-dark: (
    500: hsl(229, 31%, 20%),
    400: hsl(229, 31%, 40%),
    300: hsl(229, 31%, 60%),
    200: hsl(229, 31%, 80%),
    100: hsl(229, 31%, 90%),
  ),
);
