button {
  cursor: pointer;
  border: 0;
  outline: 0;
  background-color: transparent;
}

.button {
  --border-color: var(--clr-neutral-dark-100);
  border-radius: 5px;
  padding-block: 0.5em;
  padding-inline: 2em;
  border-width: 2px;
  border-color: var(--border-color);
  border-style: solid;
  &--login {
    width: 100%;
    color: var(--border-color);
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
}
