:root {
  --clr-p-900-sb: hsl(231, 69%, 90%);
  --clr-p-800-sb: hsl(231, 69%, 80%);
  --clr-p-700-sb: hsl(231, 69%, 70%);
  --clr-p-600-sb: hsl(231, 69%, 60%);
  --clr-p-500-sb: hsl(231, 69%, 50%);
  --clr-p-400-sb: hsl(231, 69%, 40%);
  --clr-p-300-sb: hsl(231, 69%, 30%);
  --clr-p-200-sb: hsl(231, 69%, 20%);
  --clr-p-100-sb: hsl(231, 69%, 10%);
  --clr-p-900-sr: hsl(0, 94%, 90%);
  --clr-p-800-sr: hsl(0, 94%, 80%);
  --clr-p-700-sr: hsl(0, 94%, 70%);
  --clr-p-600-sr: hsl(0, 94%, 60%);
  --clr-p-500-sr: hsl(0, 94%, 50%);
  --clr-p-400-sr: hsl(0, 94%, 40%);
  --clr-p-300-sr: hsl(0, 94%, 30%);
  --clr-p-200-sr: hsl(0, 94%, 20%);
  --clr-p-100-sr: hsl(0, 94%, 10%);
  --clr-n-900-gb: hsl(229, 8%, 90%);
  --clr-n-800-gb: hsl(229, 8%, 80%);
  --clr-n-700-gb: hsl(229, 8%, 70%);
  --clr-n-600-gb: hsl(229, 8%, 60%);
  --clr-n-500-gb: hsl(229, 8%, 50%);
  --clr-n-400-gb: hsl(229, 8%, 40%);
  --clr-n-300-gb: hsl(229, 8%, 30%);
  --clr-n-200-gb: hsl(229, 8%, 20%);
  --clr-n-100-gb: hsl(229, 8%, 10%);
  --clr-n-900-db: hsl(229, 31%, 90%);
  --clr-n-800-db: hsl(229, 31%, 80%);
  --clr-n-700-db: hsl(229, 31%, 70%);
  --clr-n-600-db: hsl(229, 31%, 60%);
  --clr-n-500-db: hsl(229, 31%, 50%);
  --clr-n-400-db: hsl(229, 31%, 40%);
  --clr-n-300-db: hsl(229, 31%, 30%);
  --clr-n-200-db: hsl(229, 31%, 20%);
  --clr-n-100-db: hsl(229, 31%, 10%);
  --ff-p: "Rubik";
  --fs-p-100: clamp(0.51rem, -0.05vw + 0.52rem, 0.47rem);
  --fs-p-200: clamp(0.64rem, -0.01vw + 0.64rem, 0.63rem);
  --fs-p-300: clamp(0.8rem, 0.06vw + 0.79rem, 0.84rem);
  --fs-p-400: clamp(1rem, 0.18vw + 0.96rem, 1.13rem);
  --fs-p-500: clamp(1.25rem, 0.36vw + 1.18rem, 1.5rem);
  --fs-p-600: clamp(1.56rem, 0.62vw + 1.44rem, 2rem);
  --fs-p-700: clamp(1.95rem, 1.02vw + 1.75rem, 2.66rem);
  --fs-p-800: clamp(2.44rem, 1.59vw + 2.12rem, 3.55rem);
  --fs-p-900: clamp(3.05rem, 2.4vw + 2.57rem, 4.73rem);
  --fw-p-bold: 700;
  --fw-p-regular: 400;
  --container-padding: 1em;
}

.text-p-900-sb {
  color: var(--clr-p-900-sb);
}

.bg-p-900-sb {
  background-color: var(--clr-p-900-sb);
}

.text-p-800-sb {
  color: var(--clr-p-800-sb);
}

.bg-p-800-sb {
  background-color: var(--clr-p-800-sb);
}

.text-p-700-sb {
  color: var(--clr-p-700-sb);
}

.bg-p-700-sb {
  background-color: var(--clr-p-700-sb);
}

.text-p-600-sb {
  color: var(--clr-p-600-sb);
}

.bg-p-600-sb {
  background-color: var(--clr-p-600-sb);
}

.text-p-500-sb {
  color: var(--clr-p-500-sb);
}

.bg-p-500-sb {
  background-color: var(--clr-p-500-sb);
}

.text-p-400-sb {
  color: var(--clr-p-400-sb);
}

.bg-p-400-sb {
  background-color: var(--clr-p-400-sb);
}

.text-p-300-sb {
  color: var(--clr-p-300-sb);
}

.bg-p-300-sb {
  background-color: var(--clr-p-300-sb);
}

.text-p-200-sb {
  color: var(--clr-p-200-sb);
}

.bg-p-200-sb {
  background-color: var(--clr-p-200-sb);
}

.text-p-100-sb {
  color: var(--clr-p-100-sb);
}

.bg-p-100-sb {
  background-color: var(--clr-p-100-sb);
}

.text-p-900-sr {
  color: var(--clr-p-900-sr);
}

.bg-p-900-sr {
  background-color: var(--clr-p-900-sr);
}

.text-p-800-sr {
  color: var(--clr-p-800-sr);
}

.bg-p-800-sr {
  background-color: var(--clr-p-800-sr);
}

.text-p-700-sr {
  color: var(--clr-p-700-sr);
}

.bg-p-700-sr {
  background-color: var(--clr-p-700-sr);
}

.text-p-600-sr {
  color: var(--clr-p-600-sr);
}

.bg-p-600-sr {
  background-color: var(--clr-p-600-sr);
}

.text-p-500-sr {
  color: var(--clr-p-500-sr);
}

.bg-p-500-sr {
  background-color: var(--clr-p-500-sr);
}

.text-p-400-sr {
  color: var(--clr-p-400-sr);
}

.bg-p-400-sr {
  background-color: var(--clr-p-400-sr);
}

.text-p-300-sr {
  color: var(--clr-p-300-sr);
}

.bg-p-300-sr {
  background-color: var(--clr-p-300-sr);
}

.text-p-200-sr {
  color: var(--clr-p-200-sr);
}

.bg-p-200-sr {
  background-color: var(--clr-p-200-sr);
}

.text-p-100-sr {
  color: var(--clr-p-100-sr);
}

.bg-p-100-sr {
  background-color: var(--clr-p-100-sr);
}

.text-n-900-gb {
  color: var(--clr-n-900-gb);
}

.bg-n-900-gb {
  background-color: var(--clr-n-900-gb);
}

.text-n-800-gb {
  color: var(--clr-n-800-gb);
}

.bg-n-800-gb {
  background-color: var(--clr-n-800-gb);
}

.text-n-700-gb {
  color: var(--clr-n-700-gb);
}

.bg-n-700-gb {
  background-color: var(--clr-n-700-gb);
}

.text-n-600-gb {
  color: var(--clr-n-600-gb);
}

.bg-n-600-gb {
  background-color: var(--clr-n-600-gb);
}

.text-n-500-gb {
  color: var(--clr-n-500-gb);
}

.bg-n-500-gb {
  background-color: var(--clr-n-500-gb);
}

.text-n-400-gb {
  color: var(--clr-n-400-gb);
}

.bg-n-400-gb {
  background-color: var(--clr-n-400-gb);
}

.text-n-300-gb {
  color: var(--clr-n-300-gb);
}

.bg-n-300-gb {
  background-color: var(--clr-n-300-gb);
}

.text-n-200-gb {
  color: var(--clr-n-200-gb);
}

.bg-n-200-gb {
  background-color: var(--clr-n-200-gb);
}

.text-n-100-gb {
  color: var(--clr-n-100-gb);
}

.bg-n-100-gb {
  background-color: var(--clr-n-100-gb);
}

.text-n-900-db {
  color: var(--clr-n-900-db);
}

.bg-n-900-db {
  background-color: var(--clr-n-900-db);
}

.text-n-800-db {
  color: var(--clr-n-800-db);
}

.bg-n-800-db {
  background-color: var(--clr-n-800-db);
}

.text-n-700-db {
  color: var(--clr-n-700-db);
}

.bg-n-700-db {
  background-color: var(--clr-n-700-db);
}

.text-n-600-db {
  color: var(--clr-n-600-db);
}

.bg-n-600-db {
  background-color: var(--clr-n-600-db);
}

.text-n-500-db {
  color: var(--clr-n-500-db);
}

.bg-n-500-db {
  background-color: var(--clr-n-500-db);
}

.text-n-400-db {
  color: var(--clr-n-400-db);
}

.bg-n-400-db {
  background-color: var(--clr-n-400-db);
}

.text-n-300-db {
  color: var(--clr-n-300-db);
}

.bg-n-300-db {
  background-color: var(--clr-n-300-db);
}

.text-n-200-db {
  color: var(--clr-n-200-db);
}

.bg-n-200-db {
  background-color: var(--clr-n-200-db);
}

.text-n-100-db {
  color: var(--clr-n-100-db);
}

.bg-n-100-db {
  background-color: var(--clr-n-100-db);
}

.container {
  --max-width: 1440px;
  width: min(var(--max-width), 100% - var(--container-padding, 1em));
  margin-inline: auto;
}

.flow > * + * {
  margin-top: var(--flow-spacer, 0.75em);
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.ff-p {
  font-family: var(--ff-p), sans-serif;
}

.fs-p-100 {
  font-size: var(--fs-p-100);
  line-height: calc(1.5 * var(--fs-p-100));
}

.fs-p-200 {
  font-size: var(--fs-p-200);
  line-height: calc(1.5 * var(--fs-p-200));
}

.fs-p-300 {
  font-size: var(--fs-p-300);
  line-height: calc(1.5 * var(--fs-p-300));
}

.fs-p-400 {
  font-size: var(--fs-p-400);
  line-height: calc(1.5 * var(--fs-p-400));
}

.fs-p-500 {
  font-size: var(--fs-p-500);
  line-height: calc(1.5 * var(--fs-p-500));
}

.fs-p-600 {
  font-size: var(--fs-p-600);
  line-height: calc(1.5 * var(--fs-p-600));
}

.fs-p-700 {
  font-size: var(--fs-p-700);
  line-height: calc(1.5 * var(--fs-p-700));
}

.fs-p-800 {
  font-size: var(--fs-p-800);
  line-height: calc(1.5 * var(--fs-p-800));
}

.fs-p-900 {
  font-size: var(--fs-p-900);
  line-height: calc(1.5 * var(--fs-p-900));
}

.fw-p-bold {
  font-weight: var(--fw-p-bold);
}

.fw-p-regular {
  font-weight: var(--fw-p-regular);
}

body {
  background-image: resolve("illustration-features-tab-2.svg");
}
