$colors: (
  p:(900-sb: hsl(231, 69%, 90%),
    800-sb: hsl(231, 69%, 80%),
    700-sb: hsl(231, 69%, 70%),
    600-sb: hsl(231, 69%, 60%),
    500-sb: hsl(231, 69%, 50%),
    400-sb: hsl(231, 69%, 40%),
    300-sb: hsl(231, 69%, 30%),
    200-sb: hsl(231, 69%, 20%),
    100-sb: hsl(231, 69%, 10%),
    900-sr: hsl(0, 94%, 90%),
    800-sr: hsl(0, 94%, 80%),
    700-sr: hsl(0, 94%, 70%),
    600-sr: hsl(0, 94%, 60%),
    500-sr: hsl(0, 94%, 50%),
    400-sr: hsl(0, 94%, 40%),
    300-sr: hsl(0, 94%, 30%),
    200-sr: hsl(0, 94%, 20%),
    100-sr: hsl(0, 94%, 10%),
  ),
  n:(990-gb: hsl(229, 8%, 99%),
    900-gb: hsl(229, 8%, 90%),
    800-gb: hsl(229, 8%, 80%),
    700-gb: hsl(229, 8%, 70%),
    600-gb: hsl(229, 8%, 60%),
    500-gb: hsl(229, 8%, 50%),
    400-gb: hsl(229, 8%, 40%),
    300-gb: hsl(229, 8%, 30%),
    200-gb: hsl(229, 8%, 20%),
    100-gb: hsl(229, 8%, 10%),
    900-db: hsl(229, 31%, 90%),
    800-db: hsl(229, 31%, 80%),
    700-db: hsl(229, 31%, 70%),
    600-db: hsl(229, 31%, 60%),
    500-db: hsl(229, 31%, 50%),
    400-db: hsl(229, 31%, 40%),
    300-db: hsl(229, 31%, 30%),
    200-db: hsl(229, 31%, 20%),
    100-db: hsl(229, 31%, 10%),
  ))