@use '../abstract/' as *;

:root {

  @each $color,
  $shades in $colors {

    @each $shade,
    $value in $shades {
      --clr-#{$color}-#{$shade}: #{$value};
    }
  }

  @each $type-face,
  $value in $type-faces {
    --ff-#{$type-face}: '#{$value}';
  }

  @each $type-scale,
  $types in $type-scales {

    @each $type,
    $value in $types {
      --fs-#{$type-scale}-#{$type}: #{$value};
    }
  }

  @each $weight-type,
  $weight-scale in $weights {

    @each $weight,
    $value in $weight-scale {
      --fw-#{$weight-type}-#{$weight}: #{$value};
    }
  }

  --container-padding : 3.4em;
}

a:focus {
  outline: none;
  background: #ffdd00;
  /* gold */
}

a:focus:not(:focus-visible) {
  background: white;
  /* undo gold */
}

.tabpanel:focus {
  outline: none;
  background: #ffdd00;
  /* gold */
}

.tabpanel:focus:not(:focus-visible) {
  background: white;
  /* undo gold */
}